@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

:root {
  --bs-header: #e88d72;
  --bs-text: #300c02;
  --bs-border: #9d3314;
  --bs-form-bg: #eedcd6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: linear-gradient(180deg, #d6d6d6, #d8cac5);
}

.header {
  background-color: var(--bs-header);
  box-shadow: 0px 15px 12px rgb(185, 185, 185);
}

.header p {
  font-weight: 700;
  font-size: 1.5em;
  padding: 0.5em 4em;
  color: #f1e1dd;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.form-section {
  background-color: var(--bs-form-bg);
  margin: 10vh auto;
  max-width: 50vw;
  padding: 4%;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 0px rgb(192, 192, 192);
}

.form-section form {
  border: 1px solid var(--bs-border);
  margin-bottom: 6vh;
  padding: 6%;
}

form h2 {
  color: var(--bs-text);
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 4vh;
}

form span {
  display: block;
  background-color: rgb(204, 204, 204);
  margin-bottom: 2.5vh;
  padding: 2%;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid rgb(204, 204, 204);
}

form span:hover {
  border: 1px solid #ff9a7c;
}

form span label {
  width: 35vw;
  position: absolute;
  cursor: pointer;
  padding-left: 1%;
}

form span label:hover {
  color: #9d3314;
}

.submit {
  background-color: rgb(0, 102, 0);
  color: #f0ebeb;
  width: 40vw;
  text-align: center;
  padding: 2vh;
  margin-left: 1em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.submit:hover {
  background-color: rgb(0, 124, 0);
}

.results {
  border: 1px solid var(--bs-border);
  margin-top: 6vh;
  padding: 6%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.results h2 {
  color: var(--bs-text);
  font-weight: 700;
  font-size: 1.6em;
}

.results #showResult {
  color: var(--bs-text);
  font-size: 3em;
  font-weight: 500;
}

.results #percentage {
  color: var(--bs-text);
  font-size: 1em;
  font-weight: 500;
}
